<div class="key" data-key-number="{{start}}"></div>
<div class="key black" data-key-number="{{#Add start 1}}{{/Add}}"></div>
<div class="key" data-key-number="{{#Add start 2}}{{/Add}}"></div>
<div class="key black" data-key-number="{{#Add start 3}}{{/Add}}"></div>
<div class="key" data-key-number="{{#Add start 4}}{{/Add}}"></div>
