<div class="file-section" data-view-classes="file-analysis">
	<label>
		Upload a MIDI File
		<input
			type="file"
			name="midi-file-upload"
			class="midi-file-upload"
		/>
	</label>

	<div class="file-information-container"></div>
</div>