<div class="keyboard" data-view-classes="keyboard">
	{{> keyboard/tri-keys start=0}}
	{{> keyboard/quad-keys start=5}}
	{{> keyboard/tri-keys start=12}}
	{{> keyboard/quad-keys start=17}}
	{{> keyboard/tri-keys start=24}}
	{{> keyboard/quad-keys start=29}}
	{{> keyboard/tri-keys start=36}}
	{{> keyboard/quad-keys start=41}}
	{{> keyboard/tri-keys start=48}}
	{{> keyboard/quad-keys start=53}}
	{{> keyboard/tri-keys start=60}}
	{{> keyboard/quad-keys start=65}}
	{{> keyboard/tri-keys start=72}}
	{{> keyboard/quad-keys start=77}}
	{{> keyboard/tri-keys start=84}}
	{{> keyboard/quad-keys start=89}}
	{{> keyboard/tri-keys start=96}}
	{{> keyboard/quad-keys start=101}}
	{{> keyboard/tri-keys start=108}}
</div>
