<div data-view-classes="midi-receiver">
	<label>
		Play sounds
		<input type="checkbox" class="play-sounds-checkbox" checked />
	</label>
	{{> midi-output-form}}
	{{> keyboard}}
	<ul class="logger"></ul>
</div>
