<section class="game-section" data-view-classes="game">
	<div class="file-section">
		<label>
			Upload a MIDI File
			<input
				type="file"
				name="midi-file-upload"
				class="midi-file-upload"
			/>
		</label>

		<div class="file-information-container"></div>
	</div>

	<ul class="note-list">
		<li class="note"></li>
		<li class="note"></li>
		<li class="note"></li>
		<li class="note"></li>
		<li class="note"></li>
	</ul>

	<button type="button" class="play-game-button">Play</button>
</section>
