<div class="timeline" data-view-classes="timeline">
	<input type="file" class="midi-file-upload" />
	<label class="window-range-label start">
		Start of range: 
		<input type="number" class="form-control" name="window-start" value="0" min="0" max="100" step="any" />%
	</label>
	<label class="window-range-label end">
		End of range: 
		<input type="number" class="form-control" name="window-end" value="100" min="0" max="100" step="any" />%
	</label>
	<div class="midi-output-selector">
		<label>
			MIDI Output:
			<select class="midi-output-selector-control form-control"></select>
		</label>
	</div>
	<div class="timeline-container">
	</div>
</div>
